/*全局样式表*/
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
  min-height: 768px;
}
.el-select {
  width: 100%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}
.el-input__inner {
  font-family: BarlowMedium;
  background-color: #F2F5F8;
}
.el-textarea__inner {
  font-family: BarlowMedium;
  background-color: #F2F5F8;
}
.el-header {
  padding: 0;
}
.el-dialog__body {
  padding: 0px 20px 10px 20px;
}
.el-form-item {
  margin-bottom: 0;
}
.el-form-item__label {
  float: none;
  font-size: 14px;
  color: #aaa;
  display: flex !important;
  text-align: left;
  height: 32px;
  margin-top: 4px !important;
  padding: 0 !important;
}
.el-tabs__header {
  margin: 0 !important;
}
.el-main { padding: 0 }
.textarea {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;
}
.el-input.is-disabled .el-input__inner {
  background-color: #F2F2F2;
  border-radius: 0;
  border: none;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src:url("../../assets/font/Roboto-MediumItalic.ttf");
}
.RobotoMediumItalic {
  font-family: RobotoMediumItalic;
}
@font-face {
  font-family: 'BarlowBold';
  src:url("../../assets/font/Barlow-Bold.ttf");
}
.BarlowBold{
  font-family: 'BarlowBold';
}
@font-face {
  font-family: 'BarlowRegular';
  src:url("../../assets/font/Barlow-Regular.ttf");
}
.BarlowRegular{
  font-family: 'BarlowRegular';
}
@font-face {
  font-family: 'BarlowMedium';
  src:url("../../assets/font/Barlow-Medium.ttf");
}
.BarlowMedium{
  font-family: 'BarlowMedium';
}
.BlackBorder {
  border: 1px solid rgba(0,0,0,0.85) !important;
  border-radius: 4px !important;
}
.GreenBC {
  background-color: #78BED3 !important;
  border: 0px;
}
.oneLine{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.el-form-item__error {
    padding-top: 0px !important;
}
.el-button .el-button--default .el-button--small {
    border: 1px solid rgba(0,0,0,0.85) !important;
    border-radius: 4px !important;
}
.el-button .el-button--default .el-button--small .el-button--primary {
    background-color: #78BED3 !important;;
}
.el-message{
    border: #FFF;
    box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFF !important;
}
.el-message--success .el-message__content {
    color: #606266;
    font-family: BarlowMedium;
}
.el-message--warning .el-message__content {
    color: #606266;
    font-family: BarlowMedium;
}
.el-message--error .el-message__content {
    color: #606266;
    font-family: BarlowMedium;
}
.el-collapse-item__header {
    border-bottom: none;
}
.el-pagination {
    margin-top: 16px;
    text-align: center;
    font-family: BarlowMedium;
}
.el-pagination__total {
    margin-left: 16px;
}
.el-pagination__jump {
    margin-left: 16px !important;
}
.el-notification__content {
    font-family: BarlowMedium !important;
}
.el-notification__title {
    font-family: BarlowMedium !important;
}
.el-notification {
    box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.2);
}