/*全局样式表*/
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
  min-height: 768px;
}
.el-select {
  width: 100%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}
.el-input__inner {
  font-family: BarlowMedium;
  background-color: #F2F5F8;
}
.el-textarea__inner {
  font-family: BarlowMedium;
  background-color: #F2F5F8;
}
.el-header {
  padding: 0;
}
.el-dialog__body {
  padding: 0px 20px 10px 20px;
}
.el-form-item {
  margin-bottom: 0;
}
.el-form-item__label {
  float: none;
  font-size: 14px;
  color: #aaa;
  display: flex !important;
  text-align: left;
  height: 32px;
  margin-top: 4px !important;
  padding: 0 !important;
}
.el-tabs__header {
  margin: 0 !important;
}
.el-main { padding: 0 }
.textarea {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif !important;
}
.el-input.is-disabled .el-input__inner {
  background-color: #F2F2F2;
  border-radius: 0;
  border: none;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src:url("../../assets/font/Roboto-MediumItalic.ttf");
}
.RobotoMediumItalic {
  font-family: RobotoMediumItalic;
}
@font-face {
  font-family: 'BarlowBold';
  src:url("../../assets/font/Barlow-Bold.ttf");
}
.BarlowBold{
  font-family: 'BarlowBold';
}
@font-face {
  font-family: 'BarlowRegular';
  src:url("../../assets/font/Barlow-Regular.ttf");
}
.BarlowRegular{
  font-family: 'BarlowRegular';
}
@font-face {
  font-family: 'BarlowMedium';
  src:url("../../assets/font/Barlow-Medium.ttf");
}
.BarlowMedium{
  font-family: 'BarlowMedium';
}
.BlackBorder {
  border: 1px solid rgba(0,0,0,0.85) !important;
  border-radius: 4px !important;
}
.GreenBC {
  background-color: #78BED3 !important;
  border: 0px;
}
.oneLine{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.el-form-item__error {
    padding-top: 0px !important;
}
.el-button .el-button--default .el-button--small {
    border: 1px solid rgba(0,0,0,0.85) !important;
    border-radius: 4px !important;
}
.el-button .el-button--default .el-button--small .el-button--primary {
    background-color: #78BED3 !important;;
}
.el-message{
    border: #FFF;
    box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFF !important;
}
.el-message--success .el-message__content {
    color: #606266;
    font-family: BarlowMedium;
}
.el-message--warning .el-message__content {
    color: #606266;
    font-family: BarlowMedium;
}
.el-message--error .el-message__content {
    color: #606266;
    font-family: BarlowMedium;
}
.el-collapse-item__header {
    border-bottom: none;
}

.el-pagination {
    margin-top: 16px;
    text-align: center;
    font-family: BarlowMedium;
}
.el-pagination__total {
    margin-left: 16px;
}
.el-pagination__jump {
    margin-left: 16px !important;
}
.el-notification__content {
    font-family: BarlowMedium !important;
}
.el-notification__title {
    font-family: BarlowMedium !important;
}
.el-notification {
    box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

/* ————————————————————————collapseMenu style—————————————————————— */
.el-menu {
  border-right: none;
}
.collapseMenu .el-submenu__title:hover {
  background-color: transparent;
}
.collapseMenu .el-submenu__title {
  padding: 0 12px;
}

.collapseMenu.el-collapse {
  border-top: none;
}
.collapseMenu .el-collapse-item__header {
  background-color: transparent;
  padding: 0 12px;
}
.collapseMenu .el-collapse-item__wrap {
  background-color: transparent;
  padding: 0 8px;
}
.collapseMenu .el-collapse-item__content {
  padding-bottom: 8px;
}
/* .menu-item.myCollapse title-txt {
  visibility: hidden;
} */
.menu-item.myCollapse .el-collapse-item__header {
  justify-content: center;
  /* transition: justify-content .7s ease-in .5s; */
}
.menu-item.myCollapse .el-collapse-item__arrow.el-icon-arrow-right{
  display: none;
  /* visibility: hidden; */
}
.menu-item.myCollapse .el-collapse-item__wrap .content {
  display: none;
  /* visibility: hidden; */
}
/* .menu-item .el-collapse-item__arrow.el-icon-arrow-right{
  transition: visibility .3s;
}
.menu-item .el-collapse-item__wrap .content {
  transition: visibility .3s;
} */
/* ————————————————————————collapseMenu style end—————————————————————— */
.el-steps--simple {
    width: 100px;
    margin: auto;
    padding: 0;
    border-radius: 4px;
    background: #FFFFFF;
}
.el-step.is-simple .el-step__icon {
    width: 10px;
    height: 10px;
    font-size: 10px;
}
.el-step__head.is-finish {
    color: #78BED3;
    border-color: #78BED3;
}
.el-step.is-simple .el-step__arrow::after, .el-step.is-simple .el-step__arrow::before {
    content: none;
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 1px;
    background: #C0C4CC;
}
.GreyBC {
    background-color: #F5F7F9 !important;
    border: 0px;
}
.el-autocomplete {
    width: 100%;
}
.el-upload {
    text-align: left;
}
.el-upload-dragger {
    margin-top: 8px;
    width: 500px;
    height: 74px;
    text-align: left;
}
.el-card__body {
    padding: 0;
}
.principle-group .el-radio-button__inner {
    padding: 7px 12px !important;
    background-color: #EDF2F6;
}
.principle-group .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background: #78BED3;
    border-color: #78BED3;
}
.principle-group.el-radio-group {
    background-color: #EDF2F6;
}
.el-footer {
    border-top: 1px solid #D7D9DB;
    padding: 0;
}
.el-collapse-item__header {
    border-bottom: none;
    border-radius: 8px;
    padding: 0px 12px;
}
.el-collapse-item__header.is-active {
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    padding: 0px 12px;
}
.el-collapse-item__content {
    padding-bottom: 6px;
}
.el-collapse-item__wrap {
    border-radius: 0px 0px 8px 8px;
}
.myMenu .el-menu-item {
    padding-left: 0 !important;
}
.myMenu .el-collapse-item.is-disabled .el-collapse-item__header {
    color: #303133;
}
.myCollapseContent .el-collapse-item__arrow.el-icon-arrow-right:before {
    content: none;
}
.myCollapseContent .el-collapse-item__arrow.el-icon-arrow-right {
    margin: 0px;
}
.createProject .el-checkbox__inner {
    display: none;
}
.createProject .el-checkbox__label {
    padding: 5px 12px;
    background: #F2F4F7;
    border-radius: 20px;
}
.createProject .el-checkbox {
    margin-right: 0;
}
.createProject .el-checkbox__input.is-disabled+span.el-checkbox__label {
    background: #78BED3;
    border-radius: 20px;
    opacity: 0.65;
    color: #FFFFFF;
    padding: 5px 12px;
}
.createProject .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #FFFFFF;
    background: #78BED3;
}
.el-menu-item {
    padding: 0;
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
