name: Build Nightly

on:
#  push:
#    branches:
#      - feature/*
  workflow_run:
    workflows: ["Unit Test"]
    branches:
      - feature/*
      - release/*
      - develop
      - master
    types:
      - completed

jobs:
  docker-image-build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: branch
        run: git branch

      - name: Set up JDK1.8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'
          cache: 'maven'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.15'

      - name: Setup python env
        run: bash bin/install.sh && source py/venv/bin/activate

      - name: Build with Maven
        run: source py/venv/bin/activate && ./mvnw -B clean test package -ntp && bash bin/release.sh

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          context: .
          file: docker/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/veritas-assessment-tool:nightly


      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache